<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto mt-4">
        <h1 class="text-3xl font-bold text-center mb-4">Hoşgeldin <%= name %>
        </h1>

        <div class="border border-gray-300 rounded-lg p-4">
            <h2 class="text-xl font-semibold mb-2">Yapabileceğiniz İşlemler</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="bg-white border border-gray-200 rounded-lg p-4">
                    <a href="/admin/users" class="text-blue-500 hover:text-blue-700 font-medium block">Kullanıcıları
                        Görüntüle</a>
                </div>
                <!-- Diğer işlemler buraya eklenebilir -->
                <div class="bg-white border border-gray-200 rounded-lg p-4">
                    <a href="/admin/aidatYonetim" class="text-blue-500 hover:text-blue-700 font-medium block">Aidat
                        Yönetimi</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>