<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidat Detayları</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Stil Ayarları */
        /* Özel stil ayarlarını buraya ekleyebilirsiniz */
    </style>
</head>

<body>
    <div class="container mt-5">
        <% if (aidat) { %>
            <h2>
                <%= aidat.month %>
                    <%= aidat.year %> Aidat Detayları
            </h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Harcananlar</th>
                        <th scope="col">Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    <% aidat.details.forEach(detail=> { %>
                        <% JSON.parse(detail).forEach(item=> { %>
                            <tr>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <%= item.price %>₺
                                </td>
                            </tr>
                            <% }); %>
                                <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <p>Aidat detayları bulunamadı.</p>
                <% } %>
    </div>
</body>

</html>